@model IEnumerable<Cellogram.Models.Story>
 
 @foreach (var item in Model)
 {
 
         <div class="mySlides">
      <div class="numbertext">1 / 4</div>

      <img src="@item.Image" style="width:100%">
    </div>
     
     
 }
 