
@model ViewModel


@{
    ViewData["Title"] = "Home Page";
}


@section stories {
   
        @await Html.PartialAsync("_Story")
    
}


<div class="blog-posts">
   @foreach (Post post in Model.Posts)
    {
        @await Html.PartialAsync("_Post", post)
    }
</div>